ELK_VERSION=7.3.2
LOGSTASH_PATH_CONFIG=pipeline-pfsense
LOGSTASH_PATH_LOGS=rsyslog_data
GRAFANA_ADMIN_PASS=secret
GRAFANA_URL_CONFIG=traefik.frontend.rule=Host:grafana.docker.localhost
RSYSLOG_CONF=rsyslogd-sense.conf
CURATOR_ES_HOST=elasticsearch
CURATOR_UNIT_COUNT=2
CURATOR_UNIT=days
AWS_ACCESS_KEY_ID=XXX-BITWARDEN-XXXX
AWS_SECRET_ACCESS_KEY=XXX-BITWARDEN-XXXX
AWS_HOSTED_ZONE_ID=XXX-BITWARDEN-XXXX
AWS_REGION="XXXX"
CLIENT_ID=XXXX-BITWARDEN-XXXX
CLIENT_SECRET=XXX-BITWARDEN-XXXX
OIDC_ISSUER=https://accounts.google.com
SECRET="RANDOM RANDOM RANDOM"
